<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
  <!--ion-button [routerLink]="['/customer']">customer</ion-button-->

  <ion-grid>
      <ion-row>
          <ion-col>
            col1
          </ion-col>
          <ion-col>
            col2
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          col3
        </ion-col>
        <ion-col>
          col4
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
